.App {
    text-align: center;
    height: 100vh;
    // background: #161B40;
    background: white;
    box-sizing: border-box;
    h1 {
        color: #F40058;
        font-family: 'Andale Mono';
        font-size: 120px;
    }
    .app-body {
        display: flex;
        flex-direction: column;
        box-sizing: inherit;
        height: inherit;
    }
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
    outline: none;
    user-select: none;
    overflow: hidden;
    box-shadow: 4px 5px 10px rgba($color: #000000, $alpha: 0.1);
    border-radius: 50%;
    box-sizing: border-box;
    height: 60px;
    width: 60px;

    &.home {
        background: #43BEE5;
        transition: width 0.3s;
        font-weight: 600;
        font-size: 30px;
        
        &:hover {
            border-radius: 50px;
            width: 50%;
        }
    }

    &.function {
        transition: 0.3s;
        background: white;

        &:hover {
            background: #43BEE5;
        }
    }

    &:active {
        box-shadow: 0px 0px 0px #666;
        transform: translateX(3px) translateY(4px);
    }
}

input {
    outline: none;
    border: none;
    background: yellow;
}


//#C7DAE4 box coloring